/* Font face */
@font-face 
{
	font-family: segoeui;
	src: url(/networkbuilder/fonts/segoeui.ttf);
}

/* Main */
body
{
	font-family: "segoeui", sans-sherif;
	padding: 0;
	margin: 0;
}
#menu 
{
}

/* Menus */
#option-menu 
{
	height: 50px;
	background-color: #ddf;
	border-bottom: 1px solid #000;
}
#object-menu 
{
	height: 50px;
	background-color: #ddf;
	border-bottom: 1px solid #000;
}

/* Option Menu */
#options-file 
{
	display: inline-block;
	width: 33.333333%;
	text-align: left;
}
#options-objects 
{
	display: inline-block;
	width: 32.8%;
	text-align: center;
}
#options-program 
{
	display: inline-block;
	width: 33.333333%;
	text-align: right;
}

/* Footer */
#footer 
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #000;
}
.footer-left 
{
	display: block;
	float: left;
	margin-left: 5px;
}
.footer-right 
{
	display: block;
	float: right;
	margin-right: 5px;
}

/* Menu Entries */
.menu-entry
{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px;
}

/* only for js engine */
#fv-objcount {}
#editor {}
